* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #f4f7fd;
  color: #1f2a44;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}
